Source: libnginx-mod-http-lua
Section: httpd
Priority: optional
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Uploaders: Jan Mojžíš <janmojzis@debian.org>,
Build-Depends: debhelper-compat (= 13),
               dh-sequence-nginx,
               libluajit-5.1-dev,
               libnginx-mod-http-ndk-dev,
Standards-Version: 4.7.2
Homepage: https://github.com/openresty/lua-nginx-module
Vcs-Git: https://salsa.debian.org/nginx-team/libnginx-mod-http-lua.git
Vcs-Browser: https://salsa.debian.org/nginx-team/libnginx-mod-http-lua

Package: libnginx-mod-http-lua
Architecture: any
Multi-Arch: foreign
Depends: lua-resty-core (>=0.1.32),
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: nginx,
Description: Lua module for Nginx
 Embed Lua runtime into nginx.
 .
 This module embeds Lua, via LuaJIT 2-5.1, into Nginx and by leveraging Nginx's
 subrequests, allows the integration of the powerful Lua threads
 (Lua coroutines) into the Nginx event model.
